@import './colors.scss' @mixin myMixin($middle) {
  @if ($middle % 2 == 1) {
    background-color: $gray4;
  } @else {
    background-color: $green;
  }

  transition: all 0.1s ease-in;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}
