@charset "UTF-8";
body,
h1,
h2 {
  font-family: 'Raleway', sans-serif;
}
body,
html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}
p {
  line-height: 2;
}
.bgimg,
.bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
header {
  display: block;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
