* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Georgia, Serif;
}

h1 {
  font-size: 40px;
  color: gray;
  font-family: 'Playfair Display';
  letter-spacing: 5px;
}
h4 {
  font-size: 20px;
  color: gray;
  font-family: 'Playfair Display';
  letter-spacing: 5px;
}
h5 {
  font-size: 10px;
  font-family: 'Playfair Display';
  color: gray;
  letter-spacing: 5px;
}

nav {
  width: 100%;
  height: 3%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  letter-spacing: 5px;
  padding: 28px;
  box-shadow: 0px 2px 6px grey;
  z-index: 3;
}
.navbar__menu {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
a {
  padding: 5px;
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: lightgray;

  border-radius: 1px;
}

section#home {
  position: relative;
}
section#home > img {
  width: 100%;
  height: 100vh;
}
section#home h1 {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: grey;
}

section#about > img {
  width: 50%;
  height: 90vh;
  opacity: 0.7;
  border-radius: 1%;
}
section#menu > img {
  width: 50%;
  height: 90vh;
  opacity: 0.7;
  border-radius: 1%;
}
content section {
  display: flex;
  justify-content: center;
  padding: 0 10%;
}
hr {
  width: 70%;
  color: lightgray;
  margin: 50px auto;
}
section#about {
  width: 100%;
  padding-top: 60px;
}

.text-box {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

section#contact {
  width: 75%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  border: none;
  width: 100%;
  padding: 15px;
  font-family: inherit;
  border-bottom: 2px solid lightgray;
}
button {
  border: none;
  margin: 30px 0;
}

footer {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}
