@charset "utf-8";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  font-family: 'Karma', sans-serif;
  position: relative;
}
header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  top: 0;
}
