@charset "utf-8";

* {
  margin: auto;
  box-sizing: border-box;
}
body {
  font-family: 'Karma', sans-serif;
}
header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
header:first-child {
  display: flex;
  margin-left: 0;
}
