@charset "utf-8";

* {
  margin: auto;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: 'Karma', sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header:first-child {
  display: flex;
  width: fit-content;
}
