@charset "utf-8";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Karma', sans-serif;
}
header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  background-color: white;
}
.grid {
  display: grid;
  gap: 25px;
  padding-top: 100px;
  padding: 30px;
  padding-top: 150px;
  grid-template:
    'box box box box' 1fr
    'box box box box' 1fr / 1fr 1fr 1fr 1fr;
}
.box > img {
  width: 100%;
}
