body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: lightgray;
}
body {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3fr;
}
nav {
  width: 25%;
  position: fixed;
  height: 60%;
  margin: 0;
  padding: 30px;
  background-color: white;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#mySidebar > img {
  width: 50%;
  border-radius: 5px;
}
.cv {
  background-color: #f1f1f1;
  padding: 20px;
}
.filter {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.f1 {
  margin-right: 20px;
}
.filter_btn {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: white;
}
.bar {
  background-color: #f1f1f1;
  height: 10px;
  width: 100px;
}
.grid {
  display: grid;
  gap: 25px;
  grid-template:
    'box box box' 1fr
    'box box box' 1fr / 1fr 1fr 1fr;
}
.box img {
  width: 100%;
}
.box-txt {
  background-color: white;
}
